services:
  # PostgreSQL Database Service
  db:
    image: postgres:15-alpine
    container_name: fanta-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fantacalcio_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data/
      - ./fanta-data-service/init.sql:/docker-entrypoint-initdb.d/init.sql

  # Data Layer Service: database interface
  data-service:
    build: ./fanta-data-service
    container_name: fanta-data-service
    ports:
      - "8001:8000" # Espone la porta 8000 del container sulla 8001 locale
    volumes:
      - ./fanta-data-service:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/fantacalcio_db
    depends_on:
      - db

  auth-process-service:
    build:
      context: ./Authentication-service/auth-service
    container_name: auth-process-service
    ports:
      - "8000:8000"  # mappatura host:container
    depends_on:
      - auth-core-service
      - data-service
    

  auth-core-service:
    build:
      context: ./Authentication-service/auth-core-service
    container_name: auth-core-service
    ports:
      - "8010:8000"
    volumes:
      - ./Authentication-service/auth-core-service/keys:/app/keys:ro
    
    # League Business Service
  league-service:
    build: ./League_management/league-service
    container_name: league-business-service
    ports:
      - "8004:8000" # Espone la porta 8000 del container sulla 8001 locale
    volumes:
      - ./League_management/league-service:/app # Mappa il codice sorgente in league-service folder dentro il container in /app
    environment:
      - DATA_SERVICE_URL_BASE=http://data-service:8000/
      - FOOTBALL_ADAPTER_SERVICE_URL_BASE=http://adapter-football-service:8000/
    depends_on:
      - data-service
      - adapter-football-service

  #Squad Business Service
  squad-service:
    build: ./League_management/squad-service
    container_name: squad-business-service
    ports:
      - "8011:8000" 
    volumes:
      - ./League_management/squad-service:/app 
    environment:
      - DATA_SERVICE_URL_BASE=http://data-service:8000/
    depends_on:
      - data-service

  #League Management Process centric Service
  league-management-process-service:
    build: ./League_management/league-management-service
    container_name: league-management-process-service
    ports:
      - "8007:8000" 
    volumes:
      - ./League_management/league-management-service:/app # Mappa il codice sorgente dentro il container in /app
    environment:
      - LEAGUE_SERVICE_URL_BASE=http://league-service:8000/business/leagues/
      - SQUAD_SERVICE_URL_BASE=http://squad-service:8000/business/squads/
    depends_on:
      - league-service
      - squad-service

  #Adapter Football service
  adapter-football-service:
    build: ./football-api-adapter
    container_name: footballapi-adapter-service
    ports:
      - "8020:8000" 
    volumes:
      - ./football-api-adapter:/app # Mappa il codice sorgente dentro il container in /app
    environment:
      - DATA_SERVICE_URL_BASE=http://data-service:8000/
    env_file:
      - ./football-api-adapter/.env

  # RSS feed service
  rss-feed-service:
    build: ./Football_News/RSS_News/news_rss
    container_name: rss_feed_container
    ports:
      - "8002:8000" 
    volumes:
      - ./Football_News/RSS_News/news_rss:/app 
  
  # Aggregator RSS service
  aggregator-service:
    build: ./Football_News/RSS_News/news_aggregator
    container_name: news_aggregator_container
    ports:
      - "8003:8000" 
    volumes:
      - ./Football_News/RSS_News/news_aggregator:/app 
    environment:
      - RSS_URL=http://rss-feed-service:8000
    depends_on:
      - rss-feed-service
  
  # HTML scraping service
  html-scrape-service:
    build: ./Football_News/HTML_News/news_html
    container_name: html_scraper_container
    ports:
      - "8034:8000" 
    volumes:
      - ./Football_News/HTML_News/news_html:/app 
  
  # HTML Aggregator service
  html-aggregator-service:
    build: ./Football_News/HTML_News/html_extraction
    container_name: html_aggregator_container
    ports:
      - "8006:8000" 
    volumes:
      - ./Football_News/HTML_News/html_extraction:/app 
    environment:
      - SCRAPE_URL=http://html-scrape-service:8000
    depends_on:
      - html-scrape-service
  
  # Football News service
  news-service:
    build: ./Football_News
    container_name: news_container
    ports:
      - "8005:8000" 
    volumes:
      - ./Football_News:/app 
    environment:
      - RSS_URL=http://rss-feed-service:8000
      - AGG_URL=http://aggregator-service:8000
      - SCRAPE_URL=http://html-scrape-service:8000
      - HTML_URL=http://html-aggregator-service:8000
      - TOKEN_URL=http://auth-service:8000 
    depends_on:
      - rss-feed-service
      - aggregator-service
      - html-scrape-service
      - html-aggregator-service

  grades-scraper-service:
    build: ./matchday_management/fanta_grades_scraper
    container_name: grades_scraper_service
    ports:
      - "8015:8000" # Espone la porta 8000 del container sulla 8004 locale
    volumes:
      - ./matchday_management/fanta_grades_scraper:/app 

  lineup-service:
    build: ./matchday_management/lineup_service
    container_name: lineup-business-service
    ports:
      - "8016:8000" 
    volumes:
      - ./matchday_management/lineup_service:/app 
    environment:
      - DATA_SERVICE_URL_BASE=http://data-service:8000/
      - GRADES_SCRAPER_URL_BASE=http://grades-scraper-service:8000/
      - FOOTBALL_ADAPTER_SERVICE_URL_BASE=http://adapter-football-service:8000/
    depends_on:
      - data-service
      - grades-scraper-service

  matchday-management-service:
    build: ./matchday_management/matchday_management_service
    container_name: matchday-management-service
    ports:
      - "8017:8000" 
    volumes:
      - ./matchday_management/matchday_management_service:/app 
    environment:
      - SQUAD_SERVICE_URL_BASE=http://squad-service:8000/business/squads/
      - LINEUP_SERVICE_URL_BASE=http://lineup-service:8000/business/lineups
      - LEAGUE_SERVICE_URL_BASE=http://league-service:8000/business/leagues/
    depends_on:
      - squad-service
      - lineup-service
      - league-service

  web-interface:
    image: web-interface
    build: ./web-interfaces
    volumes:
      - ./web-interfaces:/usr/share/nginx/html
    ports:
      - "3000:80"

volumes:
  db_data:

