services:
  # PostgreSQL Database Service
  db:
    image: postgres:15-alpine
    container_name: fanta-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fantacalcio_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data/

  # Data Layer Service: database interface
  data-service:
    build: ./fanta-data-service
    container_name: fanta-data-service
    ports:
      - "8001:8000" # Espone la porta 8000 del container sulla 8001 locale
    volumes:
      - ./fanta-data-service:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/fantacalcio_db
    depends_on:
      - db
  
  # Auth Service
  #auth-service:
    #build: ./login_prova_oauth2
    #container_name: fanta-auth-service
    #restart: always
    #depends_on:
    #  - db
    #ports:
    #  - "8000:8000"
    #environment:
    #  - DATABASE_URL=${DATABASE_URL}
    #  - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
    #  - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    #  - GOOGLE_REDIRECT_URI=http://localhost:8000/auth/callback
    #  - SECRET_KEY=${AUTH_SECRET_KEY}
    #volumes:
     # - ./:/app   # monta il progetto nel container
    #command: uvicorn login_prova_oauth2.main:app --reload --host 0.0.0.0 --port 8000


    # League Business Service
  #league-service:
  #  build: ./league-service
  #  container_name: league-business-service
  #  ports:
  #    - "8004:8000" # Espone la porta 8000 del container sulla 8001 locale
  #  volumes:
  #    - ./league-service:/app # Mappa il codice sorgente in league-service folder dentro il container in /app
  #  environment:
  #    - DATA_SERVICE_URL_BASE=http://data-service:8000/
  #  depends_on:
  #    - data-service

  #Squad Business Service
  squad-service:
    build: ./League_management/squad-service
    container_name: squad-business-service
    ports:
      - "8011:8000" 
    volumes:
      - ./League_management/squad-service:/app 
    environment:
      - DATA_SERVICE_URL_BASE=http://data-service:8000/
    depends_on:
      - data-service

  #League Management Process centric Service
  league-management-process-service:
    build: ./League_management/league-management-service
    container_name: league-management-process-service
    ports:
      - "8007:8000" 
    volumes:
      - ./League_management/league-management-service:/app # Mappa il codice sorgente dentro il container in /app
    environment:
      - LEAGUE_SERVICE_URL_BASE=http://league-service:8000/
      - SQUAD_SERVICE_URL_BASE=http://squad-service:8000/ 
    depends_on:
    #  - league-service
      - squad-service

  #Adapter Football service
  #adapter-football-service:
  #  build: ./football-api-adapter
  #  container_name: footballapi-adapter-service
  #  ports:
  #    - "8010:8000" 
  #  volumes:
  #    - ./football-api-adapter:/app # Mappa il codice sorgente dentro il container in /app
  #  environment:
  #    - DATA_SERVICE_URL_BASE=http://data-service:8000/
  #  env_file:
  #    - ./football-api-adapter/.env

  # RSS feed service
  rss-feed-service:
    build: ./Football_News/RSS_News/news_rss
    container_name: rss_feed_container
    ports:
      - "8002:8000" # Espone la porta 8000 del container sulla 8002 locale
    volumes:
      - ./Football_News/RSS_News/news_rss:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
  
  # Aggregator RSS service
  aggregator-service:
    build: ./Football_News/RSS_News/news_aggregator
    container_name: news_aggregator_container
    ports:
      - "8003:8000" # Espone la porta 8000 del container sulla 8003 locale
    volumes:
      - ./Football_News/RSS_News/news_aggregator:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      # L'URL usa il nome del servizio "service_b" come hostname
      - RSS_URL=http://rss-feed-service:8000
    depends_on:
      - rss-feed-service
  
  # HTML scraping service
  html-scrape-service:
    build: ./Football_News/HTML_News/news_html
    container_name: html_scraper_container
    ports:
      - "8004:8000" # Espone la porta 8000 del container sulla 8004 locale
    volumes:
      - ./Football_News/HTML_News/news_html:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
  
  # HTML Aggregator service
  html-aggregator-service:
    build: ./Football_News/HTML_News/html_extraction
    container_name: html_aggregator_container
    ports:
      - "8006:8000" # Espone la porta 8000 del container sulla 8006 locale
    volumes:
      - ./Football_News/HTML_News/html_extraction:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      # L'URL usa il nome del servizio "service_b" come hostname
      - SCRAPE_URL=http://html-scrape-service:8000
    depends_on:
      - html-scrape-service
  
  # Football News service
  news-service:
    build: ./Football_News
    container_name: news_container
    ports:
      - "8005:8000" # Espone la porta 8000 del container sulla 8005 locale
    volumes:
      - ./Football_News:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      # L'URL usa il nome del servizio "service_b" come hostname
      - RSS_URL=http://rss-feed-service:8000
      - AGG_URL=http://aggregator-service:8000
      - SCRAPE_URL=http://html-scrape-service:8000
      - HTML_URL=http://html-aggregator-service:8000
      - TOKEN_URL=http://auth-service:8000 
    depends_on:
      - rss-feed-service
      - aggregator-service
      - html-scrape-service
      - html-aggregator-service

volumes:
  db_data:

