services:
  rss-feed-service:
    build: ./RSS_News/news_rss
    container_name: rss_feed_container
    ports:
      - "8002:8000" # Espone la porta 8000 del container sulla 8002 locale
    volumes:
      - ./RSS_News/news_rss:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
  aggregator-service:
    build: ./RSS_News/news_aggregator
    container_name: news_aggregator_container
    ports:
      - "8003:8000" # Espone la porta 8000 del container sulla 8003 locale
    volumes:
      - ./RSS_News/news_aggregator:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      # L'URL usa il nome del servizio "service_b" come hostname
      - RSS_URL=http://rss-feed-service:8000
    depends_on:
      - rss-feed-service
  html-scrape-service:
    build: ./HTML_News/news_html
    container_name: html_scraper_container
    ports:
      - "8004:8000" # Espone la porta 8000 del container sulla 8004 locale
    volumes:
      - ./HTML_News/news_html:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
  html-aggregator-service:
    build: ./HTML_News/html_extraction
    container_name: html_aggregator_container
    ports:
      - "8006:8000" # Espone la porta 8000 del container sulla 8006 locale
    volumes:
      - ./HTML_News/html_extraction:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      # L'URL usa il nome del servizio "service_b" come hostname
      - SCRAPE_URL=http://html-scrape-service:8000
    depends_on:
      - html-scrape-service
  news-service:
    build: .
    container_name: news_container
    ports:
      - "8005:8000" # Espone la porta 8000 del container sulla 8005 locale
    volumes:
      - .:/app # Mappa il codice sorgente in fanta-data-service folder dentro il container in /app
    environment:
      # L'URL usa il nome del servizio "service_b" come hostname
      - RSS_URL=http://rss-feed-service:8000
      - AGG_URL=http://aggregator-service:8000
      - SCRAPE_URL=http://html-scrape-service:8000
      - HTML_URL=http://html-aggregator-service:8000 
    depends_on:
      - rss-feed-service
      - aggregator-service
      - html-scrape-service
      - html-aggregator-service
